@import url('https://fonts.googleapis.com/css?family=Rubik:400');
@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

html,
body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background-color: #FFCF01;
}
nav {
  display: flex;
  width: 100%;
  margin-top: 5px;
  background-color: white;
  padding: 10px 0 20px 0;
  justify-content: space-around;
}

nav > div {
  align-self: flex-end;
}
.logo {
  order: 1;
}

nav > div > a {
  text-decoration: none;
  color: #2b2b2b;
  margin: 0px 15px;
}

nav > div:nth-child(3) { order: 2; }

button {
  background-color: white;
  border: none;
  display: none;
}

.fa-reorder {
  font-size: 50px;
  padding-left: 15%;
  background-color: white;
}

header {
  background-image: url(../images/lemonback.jpg);
  background-size: contain;
  min-height: 90%;
  margin: auto;
  text-align: center;
}

.intro {
  background-color: white;
  display: inline-block;
  box-shadow: 0px 0px 0px 20px rgba(153,153,0, .3);
  margin-top: 10%;
}

.row {
  float: left;
}


@media screen and (max-width: 700px) {
   nav {
    padding-bottom: 10px;
    flex-direction: column;
    align-items: stretch;
   }
   nav > div {
     margin: auto;
     text-align: center;
   }
   .nav-left {
     margin-top: 15px;
   }
   button {
     display: block;
   }
 
   .logo {
     order: 0;
     width: 100%;
     position: relative;
   }

   nav > div > img {
     width: 82px;
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
   }

   nav > div > a {
     display: block;
     padding: 20px;
   }
 }