@import url('https://fonts.googleapis.com/css?family=Rubik:400');
@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

html,
body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background-color: #fcec16;
}

nav {
  display: flex;
  width: 100%;
  margin-top: 5px;
  background-color: white;
  padding: 10px 0 20px 0;

}
.nav-left, .nav-right, .logo {
  display: flex;
  margin-left: auto;
}

.nav-right {
  margin-right: auto;
}
nav > div > a, 
nav > div > img {

  align-self: flex-end;
}
.dropdown {
  display: none;
}
nav > div > a {
  text-decoration: none;
  color: #2b2b2b;
  margin: 0 12px 0 12px;
}

.fa-reorder {
  font-size: 50px;
  padding-left: 15%;
 
  display: none;
  
}




@media screen and (max-width: 700px) {

   nav > div > img {

     
   }
   .fa-reorder {
     display: block;
   }
   .toggle {
     align-items: center;
   }
   .dropdown {
     display: flex;
   }
   .logo {

     width: 50%;
     margin-left: 0px;
   }
   .logo2 {
     display: flex;
   }
   nav > div {
     margin: 0;
    
   }
   nav > div > img {
     margin-left: auto;
   }
   .nav-left {
     display: none;
   }
   .nav-right{
     display: none;
   }
 }